# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*egg-info/
dist/
build/

# Environments
TAenv/
TAENV312/

# Other files and folders
diferentlenght.py
get-pip.py
groupfile.py
laskdjfdfs.txt
main.ipynb
main.py
PENGOLAHAN.ipynb
readshake.py
SeismicSuite_HVSR.py
sshToSeis.py
sshToSeisgmn.py
test_connection.py
DLGF/
HVSRpy/
logs/
test/