# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*egg-info/
dist/
build/
.env

# Environments
TAenv/
TAENV312/

# Other files and folders
HVSRSuite.7z
SeismicSuite.spec
profiles.json
test.py
diferentlenght.py
get-pip.py
groupfile.py
laskdjfdfs.txt
main.ipynb
main.py
PENGOLAHAN.ipynb
readshake.py
SeismicSuite_HVSR.py
sshToSeis.py
sshToSeisgmn.py
test_connection.py
DLGF/
HVSRpy/
logs/
test/
SeismicSuite-Linux-wm.spec
HVSRSuite/icon.png
HVSRSuite/icon.ico
shakefetch.spec
HVSRSuite/Icons/1.png
HVSRSuite/Icons/logos-20251009T194903Z-1-001.zip
HVSRSuite/Icons/2.png
shakefetch/icon.ico
shakefetch/Icons/logos-20251009T194903Z-1-001.zip
shakefetch/Icons/2.png
shakefetch/Icons/1.png
shakefetch/Icons/logos-20251009T194903Z-1-001.zip
shakefetch/Icons/2.png
shakefetch/Icons/1.png
shakefetch/icon.png
